body {
  font-family: Source Sans Pro;
  margin: 2.0em auto;
  width: 60%;
  border: 20px solid #bdc3c7;
  padding: 20px;
}

hr {
  border-top: 1px solid #bdc3c7;
  margin-bottom: 1.0em;
}

.date {
  color: #3498db;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.0em;
  letter-spacing: 0.5em;
}

.articleTitle {
  color: #2c3e50;
  font-size: 2.0em;
  font-weight: 700;
}

.introParagraph {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;
}
