<% include partials/header %>

<h1>You fell in love with: <%= thingVar %></h1>
<% if (thingVar.toLowerCase() === "rusty") { %>
    <p>GOOD CHOICE! RUSTY IS THE BEST!</p>
<% } else { %>
    <p>BAD CHOICE! You should have said Rusty!</p>
<% } %>

<p>P.S. this is the love.ejs file!</p>

<% include partials/footer %>